
.navbar {
    background-color: rgb(22, 7, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.navbar-custom {
    background-color: rgb(22, 7, 36); /* Color gris claro */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .titulo-nav {
    font-size: 1.5rem;
    font-weight: bold;
  }
  


.titulo-nav{
    font-size: 2rem;
    margin-left: 1rem;
    color: white;
}

.titulo-nav:hover {
    text-decoration: none;
    color: white;
}

.carrito {
    font-size: 1rem;
    margin-right: 1rem;
    color: white;

}

.left li {
    list-style: none;
}

.left li .link {
    font-size: 2.5rem;
    margin-left: 40px;
    text-decoration: none;
    color: white;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
    margin-right: 15px;
}
.right{
    align-items: center;
    margin-top: 1rem;
    margin-right: 15px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all 1s;
    /* esto hará una transición */
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: white;
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 7rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

}

